# [Frontend]
NEXT_PUBLIC_API_URL=http://backend:8080/
DATABASE_URL="file:/app/prisma/dev.db"

# [Backend]
CorsSettings__AllowedOrigins=http://localhost:3000,http://frontend:3000
ConnectionStrings__DefaultConnection="Host=db;Port=5432;Database=scriptium;Username=scriptium;Password=197419.a"

# [Database]
POSTGRES_USER=scriptium
POSTGRES_PASSWORD=197419.a
POSTGRES_DB=scriptium

# [Ollama]
OLLAMA_BASE_URL=http://ollama:11434
